

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*
32292F Raisin Black
575366 Davy's Gray
6E7DAB Glaucous
5762D5 Savoy blue
D1E3DD Mint green
*/


.navbar {
    background-color: #32292F;
}

.form-control label {
    background-color: #575366;
    color: #D1E3DD;
}

footer{

}

li {
    display: inline-block;
    padding: 10px;
}
.my-nav-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li.flash {
    color: red;
    font-size: large;
}
.categories{
    /*display: inline-flex;*/
    /*margin: 10px;*/
}
.categoryList > label{
    margin-right: 10px;
}
.categoryList{
    display: inline-flex;
}
.row{
    justify-content: space-between;
}
.d-flex{
    gap: 10px;
}

textarea{
    height: 200px;
    width: 300px;
    display: block;
}
label > textarea{
    display: block;
}
.submit{
    padding-top: 5px;
}















