{%  extends "base.html" %}

{% block Page_Title %}
Estimation Machine
{% endblock %}

{% block head_title %}
Diabetes Outcome Prediction
{% endblock %}

{% block Machine_Name %}
    Diabetes Predictor
{%  endblock %}

{% block Machine_Description %}
    {%  with messages = get_flashed_messages() %}
        {%  if messages %}
            <ul class=flashes>
            {%  for message in messages %}
                <li class="flash"> {{  message }} </li>
            {%  endfor %}
            </ul>
        {%  endif %}
    {% endwith %}
    {%  block body%}{% endblock %}
{% endblock %}

{% block Machine_Form %}
    <form action="" enctype="multipart/form-data" method="post" class="w-50">
        {{ form.csrf_token }}
        <div class="form-floating my-3">
            {{ form.personAge(class="form-control") }}
            {{ form.personAge.label() }}
        </div>
        <div class="form-floating my-3">
            {{ form.personBMI(class="form-control") }}
            {{ form.personBMI.label() }}
        </div>
        <div class="form-floating my-3">
            {{ form.personGlucose(class="form-control") }}
            {{ form.personGlucose.label() }}
        </div>
        <div class="my-3">
            {{ form.submit(class="btn btn-dark") }}
        </div>
        <div class="form-group">
            <label for="formControlRange">Example Range input</label>
            <input type="range" class="form-control-range" id="formControlRange">
            <span id="rangeValue" class="feedback">0</span>
        </div>
    </form>
{% endblock %}

{% block Machine_Response %}
    Response
{% endblock %}

{% block footer_contents %}
    Chris Harnett <br>
    Student Number 20188141
{% endblock %}