{%  extends "base.html" %}
{%  from "form_macros.html" import render_field %}

{% block Page_Title %}
Estimation Machine
{% endblock %}

{% block head_title %}
Liters per 100 Km Prediction
{% endblock %}

{% block Machine_Name %}
Liters per 100 Kilometers
{% endblock %}

{% block Machine_Description %}
    {%  with messages = get_flashed_messages() %}
        {%  if messages %}
            <ul class=flashes>
            {%  for message in messages %}
                <li class="flash"> {{  message }} </li>
            {%  endfor %}
            </ul>
        {%  endif %}
    {% endwith %}
    {%  block body%}
        <p>Add vehicle information using the form below to get a fuel efficiency prediction!</p>
    {% endblock %}
{% endblock %}

{% block Machine_Form %}

    <br>
    <form action="" enctype="multipart/form-data" method="post" class="w-50">
        {{ form.csrf_token }}
        <div class="my-3">
            {{ form.carCylinders.label() }}<br>
            {{ form.carCylinders(class="form-control-range", id='carCylinders', min=3, max=12, type='range', value=form.carCylinders.data or 3) }}
            <span id="cylindersValue">{{  form.carCylinders.data or 0 }}</span>
        </div>
        <div class="my-3">
            {{ form.carHorsepower.label() }}<br>
            {{ form.carHorsepower(class="form-control-range", id='carHorsepower', min=40, max=200, type='range', value=form.carHorsepower.data or 40) }}
            <span id="horsepowerValue">{{  form.carHorsepower.data or 0 }}</span>
        </div>
        <div class="my-3">
            {{ form.carWeight.label() }}<br>
            {{ form.carWeight(class="form-control-range", id='carWeight', min=1500, max=5200, type='range', value=form.carWeight.data or 40) }}
            <span id="weightValue">{{  form.carWeight.data or 0 }}</span>
        </div>
        <div class="my-3">
            {{ form.carYear.label() }}<br>
            {{ form.carYear(class="form-control-range", id='carYear', min=1950, max=2024, type='range', value=form.carYear.data or 40) }}
            <span id="carYearValue">{{  form.carYear.data or 0 }}</span>
        </div>
        <div class="my-3">
            {{ form.carOrigin.label(class="form-label") }}
            {{ form.carOrigin(class="form-select") }}
        </div>
        <div class="my-3">
            {{ form.submit(class="btn btn-dark") }}
        </div>
    </form>
{% endblock %}

{% block Machine_Response %}
    {% if result %}
        <h2> Predicted fuel economy: {{ result }} Litres / 100Km</h2>
    {% else %}
        <h2> Predicted fuel economy: Press Submit</h2>
    {% endif %}
{% endblock %}

{% block footer_contents %}
    Chris Harnett <br>
    Student Number 20188141
{% endblock %}