{%  extends "base.html" %}
{%  from "form_macros.html" import render_field %}

{% block Page_Title %}
Estimation Machine
{% endblock %}

{% block head_title %}
Liters per 100 Kilometers
{% endblock %}

{% block Machine_Title %}
    {%  with messages = get_flashed_messages() %}
        {%  if messages %}
            <ul class=flashes>
            {%  for message in messages %}
                <li class="flash"> {{  message }} </li>
            {%  endfor %}
            </ul>
        {%  endif %}
    {% endwith %}
    {%  block body%}{% endblock %}
<h1>{{ r1['name'] }}</h1>
{% endblock %}

{% block Machine_Name %}
    Liters per 100 Kilometers
{%  endblock %}

{% block Machine_Form %}
    <h3>Add vehicle information using the form below to get a fuel efficiency prediction!</h3>
    <br>
    <form action="" enctype="multipart/form-data" method="post" class="w-50">
        {{ form.csrf_token }}
        <div class="form-floating my-3">
            {{ form.carCylinders.label() }}
            {{ form.carCylinders(class="form-control-range", id='carCylinders', min=3, max=12, type='range', value=form.carCylinders.data or 3) }}
            <span id="cylindersValue">{{  form.carCylinders.data or 0 }}</span>
        </div>
        <div class="form-floating my-3">
            {{ form.carHorsepower.label() }}
            {{ form.carHorsepower(class="form-control-range", id='carHorsepower', min=40, max=200, type='range', value=form.carHorsepower.data or 40) }}
            <span>40 - 300</span>
        </div>
        <div class="form-floating my-3">
            {{ form.carWeight(class="form-control") }}
            {{ form.carWeight.label() }}
            <span>1500 - 5140</span>
        </div>
        <div class="form-floating my-3">
            {{ form.carYear(class="form-control") }}
            {{ form.carYear.label() }}
            <span>1950 - 2023</span>
        </div>
        <div class="my-3">
            {{ form.carOrigin.label(class="form-label") }}
            {{ form.carOrigin(class="form-select") }}
        </div>
        <div class="my-3">
            {{ form.submit(class="btn btn-dark") }}
        </div>
    </form>
{% endblock %}

{% block Machine_Response %}
    {% if result %}
        <h2> Predicted fuel economy: {{ result }} Litres / 100Km</h2>
    {% else %}
        <h2> Predicted fuel economy: Press Submit</h2>
    {% endif %}
{% endblock %}

{% block footer_contents %}
    Chris Harnett <br>
    Student Number 20188141
{% endblock %}