{%  extends "base.html" %}
{%  from "form_macros.html" import render_field %}

{% block Page_Title %}
Estimation Machine
{% endblock %}

{% block heat_title %}
Kilometers per Liter Predictor
{% endblock %}

{% block Machine_Title %}
    {%  with messages = get_flashed_messages() %}
        {%  if messages %}
            <ul class=flashes>
            {%  for message in messages %}
                <li class="flash"> {{  message }} </li>
            {%  endfor %}
            </ul>
        {%  endif %}
    {% endwith %}
    {%  block body%}{% endblock %}
<h1>{{ r1['name'] }}</h1>
{% endblock %}

{% block Machine_Name %}
    Kilometers per Litre Predictor
{%  endblock %}

{% block Machine_Form %}
    FORM
{% endblock %}

{% block Machine_Response %}
    Response
{% endblock %}

{% block footer_contents %}
    Chris Harnett <br>
    Student Number 20188141
{% endblock %}